In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
BOOK_NUM = 8000
USER_NUM = 15000

In [3]:
ratings = pd.read_csv("UCSD_Book_Graph/ratings.csv")
print(len(ratings))
ratings.head()

15645247

   Unnamed: 0  user_id  rating  book_id
0           0        0       5       21
1           1      311       2       21
2           2      373       2       21
3           3      887       5       21
4           4     1192       3       21

In [4]:
useronly = ratings[["user_id", "rating"]].groupby("user_id").agg(len).sort_values(by="rating",ascending = False).head(USER_NUM).reset_index()
useronlyratings = ratings[ratings["user_id"].isin(useronly["user_id"])]
bookonly = useronlyratings[["book_id", "rating"]].groupby("book_id").agg(len).sort_values(by="rating",ascending = False).head(BOOK_NUM).reset_index()
finalratings = useronlyratings[useronlyratings["book_id"].isin(bookonly["book_id"])]
print(len(finalratings))
finalratings.head()

1657624

    Unnamed: 0  user_id  rating  book_id
0            0        0       5       21
7            7     2111       5       21
13          13     4822       4       21
15          15     6000       5       21
16          16     6512       5       21

In [5]:
print(len(finalratings["user_id"].unique()))
print(len(finalratings["book_id"].unique()))

14833
8000

In [6]:
finalratings = finalratings.drop(columns=["Unnamed: 0"])
finalratings.head()

    user_id  rating  book_id
0         0       5       21
7      2111       5       21
13     4822       4       21
15     6000       5       21
16     6512       5       21

In [7]:
books = pd.read_csv("UCSD_Book_Graph/books.csv", quoting=csv.QUOTE_NONE)
print(len(books))
books.head()

2360655

,book_id,author_ids,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre
0,5333265,604031|,1984.0,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film,NaN,4.00,3.0,https://images.gr-assets.com/books/1310220028m...,NaN,256.0,to-read|p|collection|w-c-fields|biography|
1,1333909,626222|,2001.0,Good Harbor,Good Harbor,NaN,3.23,10.0,https://s.gr-assets.com/assets/nophoto/book/11...,"Anita Diamant's international bestseller ""The ...",NaN,to-read|fiction|currently-reading|contemporary...
2,7327624,10333|,1987.0,The Unschooled Wizard (Sun Wolf and Starhawk| ...,The Unschooled Wizard (Sun Wolf and Starhawk| ...,eng,4.03,140.0,https://images.gr-assets.com/books/1304100136m...,Omnibus book club edition containing the Ladie...,600.0,to-read|fantasy|fiction|owned|hardcover|shelfa...
3,6066819,9212|,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...
4,287140,149918|,NaN,Runic Astrology: Starcraft and Timekeeping in ...,Runic Astrology: Starcraft and Timekeeping in ...,NaN,3.40,15.0,https://images.gr-assets.com/books/1413219371m...,NaN,NaN,to-read|runes|owned|nonfiction|kill-it-with-fi...

In [8]:
books = books[books["book_id"].isin(bookonly["book_id"])]
books = books.reset_index(drop=True)
books["newbook_id"] = books.index + 1
finalbooks = books
print(len(finalbooks))
finalbooks.head()

8000

,book_id,author_ids,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre,newbook_id
0,6066819,9212|,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...,1
1,22642971,4018722|,2014.0,The Body Electric,The Body Electric,eng,3.71,1525.0,https://images.gr-assets.com/books/1406979059m...,The future world is at peace.Ella Shepherd has...,351.0,to-read|young-adult|sci-fi|science-fiction|ya|...,2
2,10806008,4722094|,2011.0,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,en-US,4.04,6049.0,https://images.gr-assets.com/books/1353594747m...,Peter Nimble and His Fantastic Eyesis the utte...,400.0,to-read|fantasy|currently-reading|middle-grade...,3
3,38568,17059|,2005.0,A Quick Bite (Argeneau #1),A Quick Bite (Argeneau #1),en-US,3.91,32140.0,https://images.gr-assets.com/books/1410129015m...,That hot guy tied to Lissianna Argeneau's bed?...,360.0,to-read|vampires|paranormal-romance|paranormal...,4
4,18528190,15811|,2014.0,Men Explain Things to Me,Men Explain Things to Me,eng,3.92,19660.0,https://images.gr-assets.com/books/1393447237m...,"In her comic| scathing essay ""Men Explain Thin...",130.0,to-read|currently-reading|non-fiction|feminism...,5

In [9]:
finalratings = finalratings.merge(finalbooks[['book_id','newbook_id']], how='left', on= ['book_id'])
print(len(finalratings))
finalratings.head()

1657624

   user_id  rating  book_id  newbook_id
0        0       5       21        3639
1     2111       5       21        3639
2     4822       4       21        3639
3     6000       5       21        3639
4     6512       5       21        3639

In [10]:
finalratings['newuser_id'] = finalratings.groupby('user_id').grouper.group_info[0]+1
print(len(finalratings))
finalratings.head()

1657624

   user_id  rating  book_id  newbook_id  newuser_id
0        0       5       21        3639           1
1     2111       5       21        3639          79
2     4822       4       21        3639         198
3     6000       5       21        3639         245
4     6512       5       21        3639         256

In [11]:
finalratings = finalratings.drop(['user_id','book_id'], axis=1)
print(len(finalratings))
finalratings.head()

1657624

   rating  newbook_id  newuser_id
0       5        3639           1
1       5        3639          79
2       4        3639         198
3       5        3639         245
4       5        3639         256

In [12]:
finalratings.to_csv("finalratings.csv", encoding='utf8')

In [13]:
finalbooks = finalbooks.drop(['book_id'], axis=1)
print(len(finalbooks))
finalbooks.head()

8000

,author_ids,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre,newbook_id
0,9212|,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...,1
1,4018722|,2014.0,The Body Electric,The Body Electric,eng,3.71,1525.0,https://images.gr-assets.com/books/1406979059m...,The future world is at peace.Ella Shepherd has...,351.0,to-read|young-adult|sci-fi|science-fiction|ya|...,2
2,4722094|,2011.0,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,en-US,4.04,6049.0,https://images.gr-assets.com/books/1353594747m...,Peter Nimble and His Fantastic Eyesis the utte...,400.0,to-read|fantasy|currently-reading|middle-grade...,3
3,17059|,2005.0,A Quick Bite (Argeneau #1),A Quick Bite (Argeneau #1),en-US,3.91,32140.0,https://images.gr-assets.com/books/1410129015m...,That hot guy tied to Lissianna Argeneau's bed?...,360.0,to-read|vampires|paranormal-romance|paranormal...,4
4,15811|,2014.0,Men Explain Things to Me,Men Explain Things to Me,eng,3.92,19660.0,https://images.gr-assets.com/books/1393447237m...,"In her comic| scathing essay ""Men Explain Thin...",130.0,to-read|currently-reading|non-fiction|feminism...,5

In [20]:
authors = pd.read_csv("UCSD_Book_Graph/authors.csv", index_col="author_id")
authors.head()

                       name
author_id
604031     Ronald J. Fields
626222        Anita Diamant
10333        Barbara Hambly
9212        Jennifer Weiner
149918        Nigel Pennick

In [30]:
def author_ids2author_names(author_ids):
    author_ids = str(author_ids)
    if author_ids == "|":
        return None
    author_names = ""
    for i in author_ids.split("|")[:-1]:
        author_names += authors.loc[int(i), "name"]
        author_names += "|"
    return author_names[:-1]

In [34]:
finalbooks["author_ids"] = finalbooks["author_ids"].apply(author_ids2author_names)
print(len(finalbooks))
finalbooks.head()

8000

,author_ids,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre,newbook_id
0,Jennifer Weiner,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...,1
1,Beth Revis,2014.0,The Body Electric,The Body Electric,eng,3.71,1525.0,https://images.gr-assets.com/books/1406979059m...,The future world is at peace.Ella Shepherd has...,351.0,to-read|young-adult|sci-fi|science-fiction|ya|...,2
2,Jonathan Auxier,2011.0,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,en-US,4.04,6049.0,https://images.gr-assets.com/books/1353594747m...,Peter Nimble and His Fantastic Eyesis the utte...,400.0,to-read|fantasy|currently-reading|middle-grade...,3
3,Lynsay Sands,2005.0,A Quick Bite (Argeneau #1),A Quick Bite (Argeneau #1),en-US,3.91,32140.0,https://images.gr-assets.com/books/1410129015m...,That hot guy tied to Lissianna Argeneau's bed?...,360.0,to-read|vampires|paranormal-romance|paranormal...,4
4,Rebecca Solnit,2014.0,Men Explain Things to Me,Men Explain Things to Me,eng,3.92,19660.0,https://images.gr-assets.com/books/1393447237m...,"In her comic| scathing essay ""Men Explain Thin...",130.0,to-read|currently-reading|non-fiction|feminism...,5

In [44]:
finalbooks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
author_ids              8000 non-null object
publication_year        7036 non-null float64
title                   8000 non-null object
title_without_series    8000 non-null object
language_code           7549 non-null object
average_rating          8000 non-null float64
ratings_count           8000 non-null float64
image_url               8000 non-null object
description             7962 non-null object
num_pages               7699 non-null float64
genre                   8000 non-null object
newbook_id              8000 non-null int64
dtypes: float64(4), int64(1), object(7)
memory usage: 750.1+ KB

In [45]:
finalbooks["publication_year"] = finalbooks["publication_year"].fillna(finalbooks["publication_year"].mean())
finalbooks["language_code"] = finalbooks["language_code"].fillna("Unknown")
finalbooks["description"] = finalbooks["description"].fillna("Unknown")
finalbooks["num_pages"] = finalbooks["num_pages"].fillna(finalbooks["num_pages"].mean())
finalbooks.head()

,author_ids,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre,newbook_id
0,Jennifer Weiner,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...,1
1,Beth Revis,2014.0,The Body Electric,The Body Electric,eng,3.71,1525.0,https://images.gr-assets.com/books/1406979059m...,The future world is at peace.Ella Shepherd has...,351.0,to-read|young-adult|sci-fi|science-fiction|ya|...,2
2,Jonathan Auxier,2011.0,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,en-US,4.04,6049.0,https://images.gr-assets.com/books/1353594747m...,Peter Nimble and His Fantastic Eyesis the utte...,400.0,to-read|fantasy|currently-reading|middle-grade...,3
3,Lynsay Sands,2005.0,A Quick Bite (Argeneau #1),A Quick Bite (Argeneau #1),en-US,3.91,32140.0,https://images.gr-assets.com/books/1410129015m...,That hot guy tied to Lissianna Argeneau's bed?...,360.0,to-read|vampires|paranormal-romance|paranormal...,4
4,Rebecca Solnit,2014.0,Men Explain Things to Me,Men Explain Things to Me,eng,3.92,19660.0,https://images.gr-assets.com/books/1393447237m...,"In her comic| scathing essay ""Men Explain Thin...",130.0,to-read|currently-reading|non-fiction|feminism...,5

In [46]:
finalbooks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 12 columns):
author_ids              8000 non-null object
publication_year        8000 non-null float64
title                   8000 non-null object
title_without_series    8000 non-null object
language_code           8000 non-null object
average_rating          8000 non-null float64
ratings_count           8000 non-null float64
image_url               8000 non-null object
description             8000 non-null object
num_pages               8000 non-null float64
genre                   8000 non-null object
newbook_id              8000 non-null int64
dtypes: float64(4), int64(1), object(7)
memory usage: 750.1+ KB

In [47]:
finalbooks = finalbooks.rename(columns={"author_ids": "author_names"})
finalbooks.head()

,author_names,publication_year,title,title_without_series,language_code,average_rating,ratings_count,image_url,description,num_pages,genre,newbook_id
0,Jennifer Weiner,2009.0,Best Friends Forever,Best Friends Forever,eng,3.49,51184.0,https://s.gr-assets.com/assets/nophoto/book/11...,Addie Downs and Valerie Adler were eight when ...,368.0,to-read|chick-lit|currently-reading|fiction|bo...,1
1,Beth Revis,2014.0,The Body Electric,The Body Electric,eng,3.71,1525.0,https://images.gr-assets.com/books/1406979059m...,The future world is at peace.Ella Shepherd has...,351.0,to-read|young-adult|sci-fi|science-fiction|ya|...,2
2,Jonathan Auxier,2011.0,Peter Nimble and His Fantastic Eyes (Peter Nim...,Peter Nimble and His Fantastic Eyes (Peter Nim...,en-US,4.04,6049.0,https://images.gr-assets.com/books/1353594747m...,Peter Nimble and His Fantastic Eyesis the utte...,400.0,to-read|fantasy|currently-reading|middle-grade...,3
3,Lynsay Sands,2005.0,A Quick Bite (Argeneau #1),A Quick Bite (Argeneau #1),en-US,3.91,32140.0,https://images.gr-assets.com/books/1410129015m...,That hot guy tied to Lissianna Argeneau's bed?...,360.0,to-read|vampires|paranormal-romance|paranormal...,4
4,Rebecca Solnit,2014.0,Men Explain Things to Me,Men Explain Things to Me,eng,3.92,19660.0,https://images.gr-assets.com/books/1393447237m...,"In her comic| scathing essay ""Men Explain Thin...",130.0,to-read|currently-reading|non-fiction|feminism...,5

In [49]:
finalbooks.to_csv("finalbooks.csv", encoding="utf8")